:root {
    --edit-grid-gap: 6px;
    --edit-grid-fontsize: 0.6rem;
}

@media (max-width: 768px) {
    :root {
        --edit-grid-gap: 3px;
        --edit-grid-fontsize: 0.35rem;
    }
}

.edit-grid {
    /* display:flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--cell-size);
}

.edit-grid-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: var(--edit-grid-gap);
    /* align-items: center; */
    /* margin: 10px; */
}

.edit-grid-cell {
    color: rgba(169, 169, 169, 0);
    font-size: var(--edit-grid-fontsize);
}

.edit-grid-cell.active {
    color:  rgb(169, 169, 169);
    font-weight: bolder;
}