/* The switch - the box around the slider */
#edit-mode-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
:root {
  --slider-width: 60px;
  --slider-height: 34px;
  --slider-thumb-size: 26px;
  --edit-mode-fontsize: 1.2em;
}

@media (max-width: 768px) {
  :root {
    --slider-width: 32px;
    --slider-height: 20px;
    --slider-thumb-size: 12px;
    --edit-mode-fontsize: 0.9em;
  }
}


/* The switch - the box around the slider */
#edit-mode-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: var(--slider-width);
  height: var(--slider-height);
  margin-left: 10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  width: 100%;
  height: 100%;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--slider-thumb-size);
  width: var(--slider-thumb-size);
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--highlight-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--highlight-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(var(--slider-thumb-size));
  -ms-transform: translateX(var(--slider-thumb-size));
  transform: translateX(var(--slider-thumb-size));
}

/* Rounded sliders */
.slider.round {
  border-radius: var(--slider-height);
}

.slider.round:before {
  border-radius: 50%;
}
#edit-mode-container span{
    font-size: var(--edit-mode-fontsize);
}
